[Unit]
Description=LincStation LED and Reset for TrueNas
After=network.target

[Service]
ExecStart=/mnt/Fast/Home/lincstation_boot/go.sh
Type=forking

[Install]
WantedBy=multi-user.target
